body{
    background-color: #e6d7c7;
}

.masuk{
    font-size: 48px;
    font-family: 'Alegreya Sans', sans-serif;
}

.center-image {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 40%;
  }

.login-panel{
    width:574px;
    border: 1px solid black;
    background-color: #FFCC9D;
    border-radius: 30px;
    padding: 20px;
}